
.App {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

.App-logo {
  height: 280px;
}


.App-title {
  font-weight: 300;
  font-size: 4em;
  margin-top:20px;
  color:black;
}

.App-intro {
  font-size: large;
}

.email-form{
  height:320px;
  width:100%;
  padding-top:20px;
  margin-bottom:200px;
}

.email-input-bar-outter{
  float: left;
  transition: 1s;
  -webkit-transition:1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: yellowgreen;
  height:100%;
  text-align: center;
  padding:0px;
  border-radius:8px;
}

.email-signup-progress-bar{
  width:45%;
  height:20px;
  margin:auto;
  margin-top:15px;
  padding:0px;
  background-color: rgba(228, 228, 228, 0.767);
  border:.8px solid rgba(192, 192, 192, 0.877);
  border-radius:8px;
}

.get-started{
  background-color: green;
}

.keep-going{
  background-color: green;
}

.email-success{
  background-color: green;
}

.submit-email-bttn{
  clear: both;
  width:220px;
  padding:8px;
  font-size: 24px;
  background:rgb(255, 166, 0);
  color:white;
  font-weight: 600;
  border:1px solid #ccc;
  border-radius:4px;
  display: block;
  margin:auto;
  margin-top:20px;
}

.submit-email-bttn:hover{
  cursor: pointer;
  background:rgb(255, 153, 0);
  transition: 1s;
  -webkit-transition:1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}


.email-input{
  width:280px;
  padding:10px;
  clear: both;
  display: block;
  margin:auto;
  font-size:20px;
  margin-top:15px;
}

.recaptcha-widget{
  width:300px;
  margin:auto;
  margin-top:20px;
}

@media screen and (max-width:600px) and (min-width:400px){
  .App-header {
    height: 280px;
    padding: 10px;
    color: white;
  }
  .App-logo {
    height: 250px;
    margin-top:-10px;
  }

  .App-title{
    font-size: 3em;
  }

  .email-signup-progress-bar{
    width:85%;
    margin-top:65px;
  }

  .email-form{
    padding-top:5px;
    margin-bottom:200px;
  }
}

@media screen and (max-width:400px) and (min-width:10px){
  .App-header {
    height: 280px;
    padding: 10px;
    color: white;
  }
  .App-logo {
    height: 230px;
    margin-top:-20px;
  }

  .App-title{
    font-size: 3em;
  }

  .email-signup-progress-bar{
    width:85%;
    margin-top:15px;
  }

  .email-form{
    padding-top:5px;
    margin-bottom:200px;
  }
}
